<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta th:insert="~{fragments/frag1 :: bootstrapcss}" charset="utf-8">
    <title>Журнал</title>
</head>
<body>
<div th:insert="~{fragments/frag1 :: navbar}"></div>
<div class="row">
    <div class="col-sm-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" href="/admin">ТРПО</a>
        </div>
    </div>
    <div class="col-sm">
        <h1>Журнал преподавателя</h1>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="users">
                <h4>ТРПО</h4>
                <table class="table">
                    <thead id="usersTableColumn">
                    </thead>
                    <tbody id="usersTableBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div th:insert="~{fragments/frag1 :: bootstrapjs}"></div>
<script type="module" src="javascript/main.js"></script>
<script type="module" src="javascript/onPageLoad.js"></script>
</body>
</html>