<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta th:insert="~{fragments/frag1 :: bootstrapcss}" charset="utf-8">
    <title>Your profile</title>
</head>
<body>
    <div th:insert="~{fragments/frag1 :: navbar}"></div>
    <div class="row">
        <div class="col-sm-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" href="/admin" sec:authorize="hasRole('ADMIN')">Admin</a>
                <a class="nav-link active" href="/user">User</a>
            </div>
        </div>
        <div class="col-sm">
            <h1>User information</h1>
            <h4>About user</h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Пароль</th>
                    <th scope="col">Права</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" th:text="${loggedUser.id}"></th>
                    <td th:text="${loggedUser.name}"></td>
                    <td th:text="${loggedUser.password}"></td>
                    <td>
                        <a th:each="role : ${loggedUser.roles}" th:text="|${role.role} |"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:insert="~{fragments/frag1 :: bootstrapjs}"></div>
    <script type="module" src="javascript/onPageLoad.js"></script>
</body>
</html>